<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddogdog.dao.UserDao">
    <select id="findByKakaoId" resultType="com.ddogdog.dto.User">
        SELECT user_id as userId, username, password, email, status, kakao_id as kakaoId
        FROM user
        WHERE kakao_id = #{kakaoId}
    </select>

    <select id="findByUsername" resultType="com.ddogdog.dto.User">
        SELECT user_id as userId, username, password, email, status, kakao_id as kakaoId
        FROM user
        WHERE username = #{username}
    </select>

    <insert id="save" parameterType="com.ddogdog.dto.User">
        INSERT INTO user (user_id, username, password, email, kakao_id, status)
        VALUES (#{userId}, #{username}, #{password}, #{email}, #{kakaoId}, 'A')
    </insert>
</mapper> 